body{
    width:100%;
    margin: 0 auto;
    font-size: 24px;
    font-family: 'Noto Sans', sans-serif;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
}

h2{
    font-family: 'Noto Sans', sans-serif;
    font-size: 32px;
}

h3{
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.header .name{
    border-bottom: 2px solid #000;
    padding-bottom: 17px;
}

.header .photo{
    margin-top: 48px;
}

.profile{
    margin-top: 48px;
}

.subtitle{
    display: flex;
    align-items: center;
    padding-bottom: 8px;    
    border-bottom: 1px solid #000;
}

.subtitle span{
    color: #A00404;
    margin-left: 16px;
    font-family: 'Roboto', Medium;
}

.profile_content{
    font-family: 'Noto Sans', sans-serif;
    margin-top: 16px;
    line-height: 36px;
}

.education{
    margin-top: 82px;
}

.education_content{
    margin-top: 16px;
    line-height: 36px;
}

.education_content ul li{
    margin-top: 24px;  
}

.education_content ul li:first-child{
  margin-top: 0px;
}


.center{
    margin-top: 72px;
    background-color: #415165;
    padding-top: 24px;
    padding-bottom: 36px;
}

.center_ilst{
    max-width: 996px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center_title{
    font-family: 蘋方-繁,medium;
    display: flex;
    align-items: center;
    color:#ffffff;
    justify-content: center;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 8px;
    width: 100%;
}

.center_title span{
    margin-left: 16px;
    font-family: 'Roboto', Medium;
}

.skill_title span{
    margin-left: 16px;
}

.skill_item{
    margin-top: 40px;
    color: #ffffff;
    position: relative;
}

.skill_item li:first-child{
    margin-top: 0px;
}

.skill_item li{
    font-family: Roboto,light;
    margin-top: 20px;
}

.skill_item:before{
    position: absolute;
    content:"";
    border-left: 1px solid #96A9C4;
    top: 0;
    bottom: 0;
    left: -23px;
}

.experence{
    margin-top: 72px;
    
}

.experence_content{
    margin-top: 16px;
    position: relative;
    padding-left: 48px;
}

.experence_content img{
    margin-top: 8px;
    margin-bottom: 8px;
    
}

.experence_content p{
    max-width: 642px;
    font-size: 20px;
    line-height: 1.5px;
}

.experence_content:before{
    position: absolute;
    content:"";
    border-left: 1px solid #96A9C4;
    top: 0;
    bottom: 0;
    left: 24px;
}

.experence_content li:first-child{
    margin-top: 0;
}

.experence_content li{
    margin-top: 24px;
}

.footer{
    color:#ffffff
}

.contact_info{
    margin-top: 32px;
}

.contact_info li:first-child{
    margin-top: 0;
}

.contact_info li{
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.contact_sns{
    margin-top: 16px;
    display: flex;
}

.contact_sns li{
    margin-left: 24px;
}